## Batch Simulator 2nd Run
_With 5 Workers_
Set up a game between Cheese Bot, Furniture Bot, and Dev Bot with the standard deck, and starting state.
Creating a 1000 game simulation...
Simulation took 150.60899376869202 seconds
Simulation Results:
	Total Games: 1000
	Avg. Turns per game: 18.047
	Percentages: 
		 Dev Bot: 47.8%
		 Furniture Bot: 1.7999999999999998%
		 Cheese Bot: 50.4%
	 Overall winner: Cheese Bot with a percentage of 50.4

_With 7 Workers_
Set up a game between Cheese Bot, Furniture Bot, and Dev Bot with the standard deck, and starting state.
Creating a 1000 game simulation...
Simulation took 150.24892926216125 seconds
Simulation Results:
	Total Games: 994
	Avg. Turns per game: 18.120724346076457
	Percentages: 
		 Cheese Bot: 47.88732394366197%
		 Dev Bot: 50.40241448692153%
		 Furniture Bot: 1.710261569416499%
	 Overall winner: Dev Bot with a percentage of 50.40241448692153

## Initial Simulator nth Run
Set up a game between Cheese Bot, Furniture Bot, and Dev Bot with the standard deck, and starting state.
Creating a 1000 game simulation...
Simulation took 81.92231297492981 seconds
Simulation Results:
	Total Games: 1000
	Avg. Turns per game: 18.104
	Percentages: 
		 Dev Bot: 50.0%
		 Cheese Bot: 48.4%
		 Furniture Bot: 1.6%
	 Overall winner: Dev Bot with a percentage of 50.0

